<!DOCTYPE html>
<html ng-app='scott'>
  <head>
    <meta charset="utf-8">
    <title>My first angular app</title>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js'>
    </script>
    <script type="text/javascript" src='index.js'></script>
  </head>
  <body ng-controller='myController'>
    <p>
      Search for controller
      <input type="text" ng-model='searchable.name'>
    </p>
    <button type='submit' ng-click='showForm=true'>Add a contractor</button>
    <div ng-show='showForm'>
      <form ng-submit='getContractor()'>
        <input type="text" ng-model='name'>
        <input type="text" ng-model='rate'>
          <input type="submit" ng-click='showForm=false'  value='{{buttonValue}}'>
      </form>
    </div>
    <p>
      <div ng-repeat='contractor in contractors | filter:searchable'>

        <p>{{contractor.name}}</p>
        <p>{{contractor.rate | currency}}</p>
        <div ng-show='contractor.rate > 99'>This rate is high</div>
        <hr>
      </div>
    </p>
  </body>
</html>
